# Introduction and syntax basics

### First program

`print()` is a <b>function</b>, a Python built-in program for a specific action (printing to the screen)
After the name of the function, its arguments are listed in brackets, the data with which the function must do something. Arguments are <b>passed</b>, and the function <b>receives</b> when we write the name of the function with an argument, we <b>call it<b>

In [ ]:
print('I Arguments')
print('and me too Argument')

### Variables

The first time a variable name is written, it is called <b>declaring a variable</b>. In Python, variables are always declared by assigning a value to them. Just enter a name, put an equal sign (it's called <b>assignment operator</b>) and write the desired value

In [ ]:
my_name = 'Oleksandr'

If you use a variable later in the program, then instead of the `variable name` its `value` will be substituted

In [ ]:
print(my_name)

### Operations with numbers

In [ ]:
income = 350
cost = 170.5

print(income - cost)

`!IMPORTANT` in Python, the decimal separator is not a comma, but a dot.<p>
It is customary to separate arithmetic operators with spaces, such code is easier to read

<div class="scrollable_content">
    <table cellpadding="0" cellspacing="0" style="width: 500px; text-align: center;">
        <thead ><tr><th scope="col" style="text-align: center;">In math</th>
            <th scope="col" style="text-align: center;">In Python</th></tr>
        </thead><tbody>
        <tr ><td style="text-align: center;">Addition</td><td style="text-align: center;"><code class="code-inline code-inline_theme_light">+</ code></td></tr><tr><td style="text-align: center;">Subtraction</td><td style="text-align: center;"><code class="code -inline code-inline_theme_light">-</code></td></tr><tr><td style="text-align: center;">Multiply</td><td style="text-align: center;"><code class="code-inline code-inline_theme_light" >*</code></td></tr>
        <tr>
            <td style="text-align: center;">Division</td>
            <td style="text-align: center;"><code class="code-inline code-inline_theme_light">/</code></td></tr>
        <tr>
            <td style="text-align: center;">Remainder</td>
            <td style="text-align: center;"><code class="code-inline code-inline_theme_light">%</code></td></tr>
        <tr>
            <td style="text-align: center;">Raise a number to a power</td>
            <td style="text-align: center;"><code class="code-inline code-inline_theme_light">**</code></td></tr>
        </tbody></table><div></div></div>

#### Create and use variables

In [ ]:
height = 3
width = 6
long = 4


# here 
square = width * long
print(square)

### Comments and their use

To explain for themselves and others the meaning of the code, it is supplied with `comments`. They can be written in any language, indicating to Python what it is

In [ ]:
# this code doesn't work

you can write anything after the hash mark `#`, Python will ignore <p>
To comment on multiple lines, press `ctrl + /`

### Data types

Python has several standard data types:
<ul>
     <li>Numbers   123   12.2</li>
     <li>Strings 'hi!', "hey!"</li>
     <li>Lists  ['asd', 123, 22, False]</li>
     <li>Tuples ('aleks','anna', 'anastasiya')</li>
     <li>Dictionaries  {'alels': 32, 'anna': 21}</li>
     <li>Sets   {'aleks', 'anna', 'anastaiya'}</li>
     <li>Boolean  False, True</li>
</ul>

In [ ]:
index_square = 2.2 * 5

print(type(index_square))

The result of the `type()` function was the message `<class 'float'>`, in other words, our `index_square` variable has a data type of `float`

Numeric data can be:
     <ul>
         <li>`int` (integer)</li>
         <li>`float` (float: -0.2, 0.0, 3.14159265 etc.)</li>
         <li>`long` (a long integer [can be represented in octal or hexadecimal])</li>
         <li>`complex` (complex number)</li>
     </ul>

In [ ]:
1 + 2

In [ ]:
1.0 + 2

In [ ]:
10/4

In [ ]:
type(4/2)

In [ ]:
type(2.0**3)

Converting to types, for example, we divide integers, data type is int

In [ ]:
type(10)          # int
type(4)           # int  
print(type(10/4)) # float

for type conversion we use the function
<ul>
     <li>int() - converts to int. Important! when a float is converted to an int, <b>rounding down</b></li> occurs
     <li>float() - converts to float</li>
     <li>str() - convert to string</li>

In [ ]:
int(5.5)

In [ ]:
str(5.5)

it is also important to understand how boolean values behave

In [ ]:
type(False)

what will other types change to boolean give

In [ ]:
print(bool(5.5)) #t 
print(bool('5.5'))  #f
print(bool(' ')) #t
print(bool(0)) #f
print(bool(-1))  #t

### Bugs

Let's try to execute the code below

In [ ]:
cnt_customers = 538
print(cnt_customers)

There was a `typo` on the second line, Python stumbled over an unknown variable name and generated an error message. Let's analyze:

- `line: 2` on which line the error was found</li>
- `NameError` error type (name error)</li>
- `name 'cnt_customer' is not defined` error cause, variable not defined</li>

Also examples of common mistakes

In [ ]:
# Syntax error
print(3 + )

In [ ]:
# unexpected EOF while parsing - unexpected end of file (EOF), 
# Python saw the start of a function call, but the code suddenly ended
print(1 + 5

In [ ]:
# EOL while scanning string literal - end of line while reading it (EOL end of line).
# Python saw an open parenthesis, but the line ended
print('Hello Word!)

### Function format and print on one line

Previously, we analyzed examples of using `print()` with a variable and text, let's try to combine it

In [ ]:
age=32

print('My name is Oleksandr, I am',age,'years')

This is one of the `concatenation` options when using the `print()` function. Please note that the space between elements is set automatically<p>
We write down this option, we get an error, what are the options for correcting it?

In [ ]:
print('My name is Oleksandr, I ' + str(age) + ' years')

#### format() function

solve this kind of problem `calculate the proportion of the population of Latvia`

In [ ]:
population_of_latvia = 1835596
population_of_the_earth = 8021664127

perc_latvia = population_of_latvia/population_of_the_earth
print('Share of Latvian population',perc_latvia)

It is better to display the shares as a percentage. The `format()` function helps to solve these problems.

In [ ]:
print('Percentage of the population of Latvia {:.2%}'.format(perc_latvia))

The format function takes the values passed to it and inserts them into the text at position {}, {} specifies the output format.
`string.format(value1, value2...)`

function usage examples

In [ ]:
print("My name is {name}, my name is {age}".format(name = "Oleksandr", age = 32))
print("My name is {0}, my name is {1}".format("Oleksandr",32))
print("My name is {}, my name is {}". format("Oleksandr",32))

Basic types of formatting,
- `:%` convert value to percentage
- `.2` specifying the number of characters after the comma
- `:,` thousands separator
- `:+` explicit indication of positive values

In [ ]:
print('The market share was {:.2%}'.format(0.026548498))
print('Market share was {:.2}'.format(0.026548498))
print('Population of Earth {:,}'.format(8021664127))
print('Products must be stored at temperatures between {:+} and {:+} degrees'.format(-2,5))

Also, when inserting a variable into the text without formatting, you can use this format

In [ ]:
name = "Oleksandr"
age=32

print(f"My name is {name}, my name is {age}")