# Lists and loops

## List (array)

The list is the first data structure. Data structures are called systems of organizing elements, arranged according to certain rules. For example, with sequential storage, as in the list.

To create a new list in Python, you need to enumerate its elements in square brackets [] separated by commas. Here, for example, is a list with the first five values of the "Balance, m" column

In [ ]:
balance = [2.26, 19.1, 25.6, 233.0, 15.2]

The list is stored in the `balance` variable and can be printed to the screen with the `print()` function:

In [ ]:
print(balance)

![jupyter](./pict/array.png)

each value has numbers - called `indexes`. Note that the first element in the list has index 0.

To get an element of the list and do something with it, you need to specify its index in square brackets []:

In [ ]:
print(balance[4])

In [ ]:
# set the balance list item at index 4 to a new value
# (assigning a random value just for example)
balance[4] = 32.6

The list data type is called `list`:

In [ ]:
print(type(balance))

## Tuple

A tuple is a one-dimensional immutable sequence. It is a list-like data structure and can also be stored in a variable. For example, the artist tuple contains the names of artists:

In [ ]:
artist = ['Queen', 'Led Zeppelin', 'Scorpions']

But if we try to change the element of the tuple, then Python will return an error:

In [ ]:
artist[0] = 'Spice Girls'

The tuple is needed to store and read data that is better not to change. It looks like a text document protected from editing.

## Cycles

`Loops` are a construct for repeating actions in code. Let's start with a simple example - print the first 10 elements of a table column on the screen.

In [ ]:
balance = [2.26, 19.1, 25.6, 233.0, 15.2, 22.7, 64.6, 87.5, 6.81, 6.0]

print('balance, kk')
print('----------------')
for element in balance:
    # Recall that the print() function always does a line break
    print(element)

This loop means `for each element of the balance list, do this` - followed by a call to the `print()` function for each element. The loop device - its syntax - looks like this:

![jupyter](./pict/for.png)

The loop is declared with the keywords `for` and `in`. The first word is called a <b>for loop</b>.

In [ ]:
balance = [2.26, 19.1, 25.6, 233, 15.2, 22.7, 64.6, 87.5, 6.81, 6]

In [ ]:
for i in balance:
    num = i + 1
    print(i)

In [ ]:
num

Indentation tells Python where the code to be executed for each element of the list ends (the body of the loop). Although indentation is just a set of spaces, they must be included, otherwise Python will not be able to distinguish the body of the loop from the rest of the code. Let's look at this with an example:

In [ ]:
balance = [2.26, 19.1, 25.6, 233, 15.2, 22.7, 64.6, 87.5, 6.81, 6]

print('balance')
print('-----------')
# declare a loop
for count_mil in balance:
    # convert millions to units
    count = int(count_mil * 10**6)
    # print the number of EUR with the given balance from the list
    print('{} eur'.format(count))
    # end of loop body: no further indent needed
print('-----------')

To put 4 spaces, you can press the Tab button. <b>IMPORTANT!</b> Python doesn't understand code that has tabs and spaces mixed in.

## Assignment

The value of a variable can be overwritten:

In [ ]:
bal_1 = 2.26
bal_2 = 19.1
bal_3 = 25.6

total = bal_1
print('Initial value:', total)

total = total + bal_2
print('After the first change:', total)

total = total + bal_3
print('After the second change:', total)

Remember that the `=` sign is an assignment operator? First, the value to the right of it is calculated, then the result is stored in the variable to the left.

Often you need to add a new value to a variable, and store the sum in itself. For this, a special assignment operator with addition `+=` was invented. With it code

In [ ]:
total = total + bal_1

can be rewritten like this:

In [ ]:
total += bal_1

There are similar abbreviations for other arithmetic operations.

<div class="scrollable_content">
    <table cellpadding="0" cellspacing="0" style="width: 500px; text-align: center;">
        <thead ><tr><th scope="col" style="text-align: center;">Operator</th>
            <th scope="col" style="text-align: center;">What does it mean</th></tr>
        </thead><tbody>
        <tr >
            <td style="text-align: center;"><code class="code-inline code-inline_theme_light">a += b</td>
            <td style="text-align: center;"><code class="code-inline code-inline_theme_light">a = a + b</ code></td>
        </tr>
        <tr>
            <td style="text-align: center;"><code class="code-inline code-inline_theme_light">a -= b</td>
            <td style="text-align: center;"><code class="code -inline code-inline_theme_light">a = a - b</code></td>
        </tr>
        <tr>
            <td style="text-align: center;"><code class="code-inline code-inline_theme_light">a *= b</td>
            <td style="text-align: center;"><code class="code-inline code-inline_theme_light" >a = a * b</code></td>
        </tr>
        <tr>
            <td style="text-align: center;"><code class="code-inline code-inline_theme_light">a /= b</td>
            <td style="text-align: center;"><code class="code-inline code-inline_theme_light">a = a / b</code></td></tr>
        </tbody></table><div></div></div>

## Summation in a loop

You can add the following value manually

In [ ]:
balance = [2.26, 19.1, 25.6, 233.0, 15.2]

total = 0
total += balance[0]
total += balance[1]
total += balance[2]
total += balance[3]
total += balance[4]

print('{:.2f}'.format(total))

and in a loop:

In [ ]:
balance = [2.26, 19.1, 25.6, 233.0, 15.2]

total = 0
total2 = 0 
for element in balance:
    total += element
    total2 = total2 + element
print('{:.2f}'.format(total))

The use of loops is convenient because now we can easily sum lists of any length.

In [ ]:
balance = [2.26, 19.1, 25.6, 233.0, 15.2, 22.7, 64.6, 87.5, 6.81, 6.0,
           4.72, 24.7, 21.7, 10.0, 118.0, 3.31, 23.1, 1.74, 4.5, 0.0333]

total = 0
for element in balance:
    total += element
print('{:.2f}'.format(total))

## Lists of lists

Plain lists allow us to pass individual columns of a table to Python, and this has already given the result. To parse it in its entirety, you need a list of lists.
<p>Let's create a list with one table row

In [ ]:
first_row = ['BNK54654168', 2.26, 7000, 100]

print(first_row)

Let's build a list of `data` from several of these variables:

In [ ]:
first_row = ['BNK54654168', 2.26, 7000, 100]
second_row = ['BNK54657568', 19.1, 7001, 180]
third_row = ['BNK54654143', 25.6, 7000, 280]

data = [first_row, second_row, third_row]

print(data)

Table rows do not need to be stored in variables first. Could be so:

In [ ]:
data = [
    ['BNK54654168', 2.26, 7000, 100],
    ['BNK54657568', 19.1, 7001, 180],
    ['BNK54654143', 25.6, 7000, 280]
]

print(data)

Such lists are called nested. This is already a table.
To access the elements of such a table, double indexes are used - first indicate the index of the `row`, and then the `column`.

In [ ]:
print(data[1][3])

## Looping over lists of lists

Lists of lists can also be looped over. To start, let's just print each row of the table to the screen (for the first five):

In [ ]:
for row in data:
    print(row)

Previously, to access cells, we wrote double indexes: data[2][0]. The `row` variable in the loop already stores the next row, so we don't need the row index. For example, to get first column, we specify the column index 0:

In [ ]:
print('CONTRACT_ID:')
print('----------------')
for row in data:
    print(row[0])

You can access other columns as well. For example, index 1 stores the sum balance of contract:

In [ ]:
print('CONTRACT_ID  | Balance, kk')
print('----------------------------------')
for row in data:
    print(row[0], ' | ', row[1])

## String and list length

Strings and lists have a property - length. Its value is returned by the `len()` function

In [ ]:
print(len('this is a text of length n characters'))

Let's find the length of this list data:

In [ ]:
size = len(data)    
print('In table {} of contracts'.format(size))

The len() function is useful when you need to calculate the arithmetic mean. If they ask: “What is the average temperature in Riga?”, Most often they mean the arithmetic mean. It is found by the formula:
<br><br>
`**Arithmetic mean = Sum of values / Number of values**`
<br><br>
For example, the daily air temperature in degrees Celsius is known for five days.

In [ ]:
day_temperatures = [-8, -4, +2, +1, -1, -1, -4, -5, -5]

To calculate the average, we divide the sum of the day_temperatures list values by their number using the `sum()` and `len()` functions.

In [ ]:
print(sum(day_temperatures) / len(day_temperatures))

In [ ]:
strin = 'oleksandr hh aas fdf'



strin[2:]