# Methods and Functions

## Sort

create a list of temperatures in Riga by months (maximum)

In [ ]:
month_temperatures = [
    -1,
    0,
    5,
    12,
    18,
    21,
    24,
    23,
    18,
    11,
    5,
    1
]

To better understand the weather situation, let's sort in descending order. To do this, you need to sort the elements of the selected table column.<br>There is a `sort()` function in Python for this:

In [ ]:
print(month_temperatures)

In [ ]:
month_temperatures.sort()

print(month_temperatures)

Note the special way the `sort()` function is called - it is written with a dot after the list. This is called <b>dot notation</b>.

The `sort()` function is attached to the `list` data type and does its job on a variable of that type. Such functions are called <b>methods</b>.

We have already dealt with one method - the `format()` function, assigned to the str data type. Note that all methods are called with dot notation.

## Boolean values True and False. sort() method arguments

By default, the `sort()` method sorts the list in ascending order. If we want to sort in descending order, we need to specify this with the named argument <b>reverse</b>:

In [ ]:
month_temperatures.sort(reverse=True)

print(month_temperatures)

The expression `reverse=True` should be understood as follows: yes, sorting really should be in reverse order. If we don't write this, Python will default to reverse=False, i.e. "No, the reverse order is not necessary."

`True` and `False` are capitalized in Python to make them easier to distinguish from variable and argument names.

## Sort by column

Recall that Python stores a table as a list of lists. If you need to sort it by a specific column, it is specified by the named argument <b>key</b>.

Let's rearrange the rows of the table so that the elements of the "Balance" column are arranged in ascending order:

In [ ]:
data = [
    ['BNK100', 2.26],
    ['BNK101', 19.1],
    ['BNK102', 25.6],
    ['BNK103', 233.0],
    ['BNK104', 15.2],
    ['BNK105', 22.7],
    ['BNK106', 64.6],
    ['BNK107', 87.5],
    ['BNK108', 6.81],
    ['BNK109', 6.0],
    ['BNK110', 4.72],
    ['BNK111', 24.7],
    ['BNK112', 21.7],
    ['BNK113', 10.0],
    ['BNK114', 118.0],
    ['BNK115', 3.31],
    ['BNK116', 23.1],
    ['BNK117', 1.74],
    ['BNK118', 4.5],
    ['BNK119', 0.0333],
]

In [ ]:
data.sort(key=lambda row: row[1], reverse=True)

print('CONTRACT_ID    | BALANCE, kk.eur ')
print('-------------------------------------')
for row in data:
    print('{: <14} | {: >16.2f}'.format(row[0], row[1]))

Python doesn't treat our list of lists as a table. It only sees a list of strings. There are no columns in this table for Python. To sort a table by a column with index 1, we need to clarify: consider that the sequence to sort consists of the elements of each row with index 1, and sort by this sequence. This explanation is done by a lambda function, a short unnamed function:

`lambda row: row[1] `

This function takes the next `row` as input and returns a column of the elements of each row with index `1`. In our case, this is written `row[1]`. We chose the name `row` for the next rows ourselves for clarity, you can think of something else.

## Slices

In a task, it may be necessary to highlight a portion of a list—for example, the first five items. Such list fragments are called slices.<p>
They are similar to indexes, but are used to refer not to individual elements, but to their ranges. For a slice, specify the beginning and end of the range:

In [ ]:
digits_names = [
     'zero',
     'one',
     'two',
     'three',
     'four',
     'five',
     'six',
     'seven',
     'eight',
     'nine'
]

print(digits_names[4:7])

![jupyter](./pict/slice.png)

The first index (in this case 4) will be included in the slice, but the last one (in this case 7) will not. To understand why the Python developers did this, let's imagine a chocolate bar with numbered slices. A cut of 4:7 means that the chocolate bar breaks before the fourth slice and before the seventh.

When one of the boundaries of the range coincides with the boundary of the list itself, this boundary can be omitted altogether.

In [ ]:
print(digits_names[:5])

You can do the same with the end of the list.

In [ ]:
print(digits_names[7:])

In [ ]:
digits_names[::-1]

## Changing lists in a loop

In [ ]:
balance = [
    2.26,
    19.1,
    25.6,
    233.0,
    15.2,
    22.7,
    64.6,
    87.5,
    6.81,
    6.0,
    4.72,
    24.7,
    21.7,
    10.0,
    118.0,
    3.31,
    23.1,
    1.74,
    4.5,
    0.0333,
]

The obvious way - to change the loop variable - will not work:

In [ ]:
print('List before change:')
print(balance)
print()

for m in balance:
     m = m * 10**6

print('List after trying to change:')
print(balance)

The problem is in the for loop device itself. It copies the elements of the list. Therefore, the line `element = float(element)` changes the element variable, but does not change the list element.

Instead of iterating directly over the elements of a list, you can iterate over their indices—that is, just numbers from zero up to the length of the list (not including the length itself). This is done by calling the `range()` function. It is given some argument, for example, 5, and it iterates over all numbers from 0 to its argument (not including it): `0, 1, 2, 3, 4`

In [ ]:
for element in range(0,5,1):
    print(element)

Unfortunately, it will not be possible to simply see the result of the `range()` function. The fact is that Python does not store all the numbers from 0 to 5, but simply remembers from which and to which number the sequence is created. This is especially useful for function calls like `range(1000000000)`.

Now you can change each element of the list in turn:

In [ ]:
print('List before change:')
print(balance)
print()

for i in range(len(balance)):
    balance[i] *= 10**6

print('List after trying to change:')
print(balance)

## Adding/removing elements

To do this, we use the list's `append()` method, which adds a new element to the list. Let's break it down first with a simple example:

In [ ]:
contracts = ['BNK100', 'BNK101', 'BNK102', 'BNK103']


print(contracts)

contracts.append('BNK126')

print(contracts)

The `remove()` method is a built-in method that removes the first matching element from the list.

In [ ]:
contracts.remove('BNK101')
print(contracts)

the `list.pop(index)` method removes an element based on the index passed

In [ ]:
contracts.remove(contracts[0])
print(contracts)

The `clear()` method removes all elements from the list.

In [ ]:
contracts.clear()
print(contracts)

## Simple Functions

<b>Function</b> is a piece of program code that can be accessed from another place in the program.

The logic of its work is written once, and then called wherever it is needed.
Let's write a function to convert the duration of a movie from minutes to hours. Remember that the `print()` function has an argument, the string it prints? Our function will also have an argument - the duration of the movie in minutes. The function will perform calculations with it and print the result on the screen:

In [ ]:
def print_length_hours(minutes):
    hours = minutes / 60
    print('Duration: {:.2f} hour.'.format(hours))


# для наглядности функции отделяют от остального кода двумя переносами
print('Zack Snyders Justice League')
print_length_hours(242)
print()
print('Bridget Joness Diary')
print_length_hours(97)
print()

We described the logic of the function, and then called it twice. The `def` keyword points to the beginning of a function definition. Here we again encountered indents of 4 spaces: they highlight the `body of the function` - the code that this function will execute.

![jupyter](./pict/def1.png)

The `minutes` argument is essentially a variable inside the function. Its value is not known in advance - it is given in parentheses when the function is called. Depending on this value, the appropriate text is printed on the screen.

create a table for writing an example of a function with two arguments

In [ ]:
oscar_data = [
    ['The Shape of Water', 2017, 6.914, 123, ['fantasy', 'drama'], 19.4, 195.243464],
    ['Moonlight', 2016, 6.151, 110, ['drama'], 1.5, 65.046687],
    ['Spotlight', 2015, 7.489, 129, ['drama', 'crime', 'history'], 20.0, 88.346473],
    ['Birdman', 2014, 7.604, 119, ['drama', 'comedy'], 18.0, 103.215094],
    ['12 years a slave', 2013, 7.71, 133, ['drama', 'biography', 'history'], 20.0, 178.371993],
    ['Operation Argo', 2012, 7.517, 120, ['thriller', 'drama', 'biography'], 44.5, 232.324128],
    ['Artist', 2011, 7.942, 96, ['drama', 'melodrama', 'comedy'], 15.0, 133.432856],
    ['The King speaks!', 2010, 7.977, 118, ['drama', 'biography', 'history'], 15.0, 414.211549],
    ['The Hurt Locker', 2008, 7.298, 126, ['thriller', 'drama', 'military', 'history'], 15.0, 49.230772],
    ['Slumdog Millionaire', 2008, 7.724, 120, ['drama', 'melodrama'], 15.0, 377.910544],
    ['No Country for Old Men', 2007, 7.726, 122, ['thriller', 'drama', 'crime'], 25.0, 171.627166],
    ['The Departed', 2006, 8.456, 151, ['thriller', 'drama', 'crime'], 90.0, 289.847354],
    ['Clash', 2004, 7.896, 108, ['thriller', 'drama', 'crime'], 6.5, 98.410061],
    ['Million Dollar Baby', 2004, 8.075, 132, ['drama', 'sport'], 30.0, 216.763646],
    ['The Lord of the Rings: The Return of the King', 2003, 8.617, 201, ['fantasy', 'drama', 'adventure'], 94.0, 1119.110941],
    ['Chicago', 2002, 7.669, 113, ['musical', 'comedy', 'crime'], 45.0, 306.776732],
    ['A Beautiful Mind', 2001, 8.557, 135, ['drama', 'biography', 'melodrama'], 58.0, 313.542341],
    ['Gladiator', 2000, 8.585, 155, ['action', 'drama', 'adventure'], 103.0, 457.640427],
    ['American Beauty', 1999, 7.965, 122, ['drama'], 15.0, 356.296601],
    ['Shakespeare in Love', 1998, 7.452, 123, ['drama', 'melodrama', 'comedy', 'history'], 25.0, 289.317794],
    ['Titanic', 1997, 8.369, 194, ['drama', 'melodrama'], 200.0, 2185.372302],
    ['The English Patient', 1996, 7.849, 155, ['drama', 'melodrama', 'military'], 27.0, 231.976425],
    ['Braveheart', 1995, 8.283, 178, ['drama', 'military', 'biography', 'history'], 72.0, 210.409945],
    ['Forrest Gump', 1994, 8.915, 142, ['drama', 'melodrama'], 55.0, 677.386686],
    ['Schindlers List', 1993, 8.819, 195, ['drama', 'biography', 'history'], 22.0, 321.265768],
    ['Unforgiven', 1992, 7.858, 131, ['drama', 'western'], 14.4, 159.157447],
    ['Silence of the Lambs', 1990, 8.335, 114, ['thriller', 'crime', 'detective', 'drama', 'horror'], 19.0, 272.742922],
    ['Dancing with Wolves', 1990, 8.112, 181, ['drama', 'adventure', 'western'], 22.0, 424.208848],
    ['Driving Miss Daisy', 1989, 7.645, 99, ['drama'], 7.5, 145.793296],
    ['Rain Man', 1988, 8.25, 133, ['drama'], 25.0, 354.825435],
]

Let's start by writing a function to print the first 5 elements of a table on the screen.

In [ ]:
def print_top5(data):
    print('movie title                                   | Year | Rating  | Length| Budget  | Fees   |')
    print('------------------------------------------------------------------------------------------')
    for row in data[:5]:
        print('{: <45} | {} | {: >7.2f} | {: >5} | {: >7.1f} | {: >6.1f} |'.format(
                row[0], row[1], row[2], row[3], row[5], row[6]))

Pay attention to the indentation for the loop in the function code. We have nested a cycle in its body, and therefore the body of such a cycle is indented not by 4 spaces, but by 8.
<p>
Now let's call our function: it prints top (by rating and budget) films on the screen.

In [ ]:
print('# Highest ranked')
print()
oscar_data.sort(key=lambda row: row[2], reverse=True)
print_top5(oscar_data)
print()
print()

print('# Biggest budget')
print()
oscar_data.sort(key=lambda row: row[5], reverse=True)
print_top5(oscar_data)
print()
print()

Let's improve our function: let it sort the table itself. To do this, we write one more argument in the code (the number is theoretically unlimited). This second argument will be the index of the column we want to sort by. Specify it in parentheses after the first argument. Let this parameter be called column in the function declaration:

In [ ]:
def print_top5_by_column(data, column):
    data.sort(key=lambda row: row[column], reverse=True)
    print('Name                                          | Year | Rating  | Length| Budget |  Fees  |')
    print('------------------------------------------------------------------------------------------')
    for row in data[:5]:
        print('{: <45} | {} | {: >7.2f} | {: >5} | {: >6.1f} | {: >6.1f} |'.format(
                row[0], row[1], row[2], row[3], row[5], row[6]))

In [ ]:
print('# Highest ranked')
print()
print_top5_by_column(oscar_data, 2)
print()
print()

print('# Biggest budget')
print()
print_top5_by_column(oscar_data, 5)
print()
print()

print('# Highest fees')
print()
print_top5_by_column(oscar_data, 6)
print()
print()

print('# Longest length')
print()
print_top5_by_column(oscar_data, 3)
print()
print()

## Function return values

Therefore, functions can `return` a value - pass a result that can be stored in a variable. Let's, for example, redo the dollars-to-euro conversion function and update the code to print the budget in euros:

In [ ]:
dollars_to_euros = 1.02

def dollar_to_euro(dollar):
    euros = dollar * dollars_to_euros
    return euros

lotr_dollar = 94.0

lotr_euro = dollar_to_euro(lotr_dollar)

print('The Lord of the Rings: The Return of the King budget: {:.2f} kk EUR'.format(lotr_euro))

The `return` keyword specifies what value the function will return. For example, dollar_to_euro() returns the product stored in the variable euros.

## Local and Global Variables

We will create functions often. Let's understand a little about their device in order to avoid unpleasant surprises. Like these:

In [ ]:
del(dollars)

In [ ]:
# # suppose that the budget of the film consists of two parts
# euros = 40

# dollar = 65

# dollars_to_euros = 1.02

# def dollar_to_euro(dollar):
#     # we misspelled the variable name
#     eurs = dollars * dollars_to_euros
#     # this line still works, but uses the wrong variable
#     return euros


# total = euros + dollar_to_euro(dollar)
# print('Total budget: {:.2f} kk EUR'.format(total))
# # budget: 106.30

It's all about declaring variables. When a function encounters a variable, it tries to find its value in its `own` code. If it finds it, it uses it; if not, it starts to look `outside`, in the program code. It turns out that if both inside and outside of the function there are variables with the same names, the one inside will be used.

Knowing about global and local variables will help to avoid such problems. <b>Global variables</b> are those that are declared outside of functions. They can be accessed from anywhere. Hence the name.

Accordingly, variables declared inside a function are <b>local</b>. They cannot be accessed from code outside the body of the function.

#### Do not give local and global variables the same names - typos are then very difficult to find in the code.

Let's go back to our broken `dollar_to_euro()` function and fix it. First, let's change the name of the global variable to something more descriptive, let's call it budget_euros:

In [ ]:
del euros
del dollars

In [ ]:
budget_euros = 40
budget_dollars = 65

dollars_to_euros = 1.02

def dollar_to_euro(dollars):
    eurs = dollars * dollars_to_euros
    return euros


total = budget_euros + dollar_to_euro(budget_dollars)
print('Total budget: {:.2f} kk EUR'.format(total))

Now Python has caught our oversight and is reporting it.

global variables whose value does not change in the code. Such variables are called <b>constants</b>.

Attention: `for Python, these are ordinary global variables. It's just that the developers agreed that if a variable does not change its value anywhere in the code, it is given a name from capital letters. So when reading the code, it is easy to distinguish variables from constants.`

In [ ]:
budget_euros = 40
budget_dollars = 65

DOLLARS_TO_EUROS = 1.02

def dollar_to_euro(dollars):
    euros = dollars * DOLLARS_TO_EUROS
    return euros

total = budget_euros + dollar_to_euro(budget_dollars)
print('Total budget: {:.2f} kk EUR'.format(total))

## Conditional operator

The keywords `if` and `else` define a conditional statement. If the condition is met, Python will execute one code, and if not, another. The diagram shows the syntax of the conditional operator:

In [ ]:
def check_if_recent(year):
    if year < 2008:
        print('The film was made a long time ago.')
        return 123
    elif year < 2016:
        print('sdfsdf')
    else:
        print('The film is fresh.')
        
        
print('Doctor Strange in the Multiverse of Madness')
check_if_recent(2022)
print('')
print('Terminator 2: Judgment Day')
check_if_recent(1991)

![jupyter](./pict/ifelse.png)

The sign `<` in our condition corresponds to the mathematical sign `<`. The table shows the correspondence of other mathematical signs:

<div class="scrollable_content">
    <table cellpadding="0" cellspacing="0" style="width: 500px; text-align: center;">
        <thead ><tr><th scope="col" style="text-align: center;">mathematical sign</th>
                    <th scope="col" style="text-align: center;">Sign in Python</th>
                    <th scope="col" style="text-align: center;">What does it mean</th>
            </tr>
        </thead><tbody>
        <tr >
            <td style="text-align: center;">⩽</td>
            <td style="text-align: center;"><code class="code-inline code-inline_theme_light"><=</ code></td>
            <td style="text-align: center;">less or equal</td>
        </tr>
        <tr >
            <td style="text-align: center;">⩾</td>
            <td style="text-align: center;"><code class="code-inline code-inline_theme_light">>=</ code></td>
            <td style="text-align: center;">more or equal</td>
        </tr>
        <tr >
            <td style="text-align: center;"><</td>
            <td style="text-align: center;"><code class="code-inline code-inline_theme_light"><</ code></td>
            <td style="text-align: center;">strictly less</td>
        </tr>
        <tr >
            <td style="text-align: center;">></td>
            <td style="text-align: center;"><code class="code-inline code-inline_theme_light">></ code></td>
            <td style="text-align: center;">strictly more</td>
        </tr>        
        <tr >
            <td style="text-align: center;">=</td>
            <td style="text-align: center;"><code class="code-inline code-inline_theme_light">==</ code></td>
            <td style="text-align: center;">is exactly equal to</td>
        </tr>        
        <tr >
            <td style="text-align: center;">≠</td>
            <td style="text-align: center;"><code class="code-inline code-inline_theme_light">!=</ code></td>
            <td style="text-align: center;">not exactly equal</td>
        </tr>    
        </tbody></table><div></div></div>

## IN operator

The `in` operator allows you to specify multiple values

In [ ]:
# print('drama' in ['fantastic', 'drama'])
print('comedy' in ['drama', 'crime', 'history'])

So the `in` operator is handy in conditional constructs

## NOT operator

The `not` operator turns any condition on its head - changes True to False and vice versa:

In [ ]:
print(not True)
print(not False)

## AND and OR operators

To build more complex conditions in Python, there are two more operators: `and` and `or`.

The `and` operator combines two conditions into one. Such a compound condition returns True only when both simple conditions are met:

In [ ]:
print(True and True) #T
print(True and False) #F
print(False and True) #F
print(False and False) #F

The `or` operator also combines two conditions into one. Such a compound condition returns True if at least one of the simple conditions is true:

In [ ]:
print(True or True) #T
print(True or False) #T
print(False or True)  #F
print(False or False) #F

## Lambda function

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [ ]:
def maximum(a,b):
    if a > b:
        return a
    else:
        return b
    
print(maximum(12,17))

In [ ]:
print((lambda a,b: a if a>b else b)(12,17))

In [ ]:
(lambda a, b, c : a + b + c)(1,2,3)

# some practice

1. given a list of n elements. It is necessary to calculate the maximum area of ​​a triangle from the three values ​​​​of elements put in succession

In [ ]:
[1,2,4,2,6,5,1,2,5,12,4]

2. Given 3 lists of i, n and m elements. We need to return a unique list of elements, consisting of elements common to these first two lists and not included in the third

3. Write a function to display the number of seconds as days:hours:minutes:seconds.