# Additional features

<div class='alert alert-success'>
    <b>important to remember</b>
</div>

pandas is a standard library that comes with the anaconda package, but what if the library is not loaded?

to download directly from jupiter we will use the syntax `!pip isntall name_lib`

In [ ]:
!pip install pandas

it is very important when working in Jupiter processing of the result, for this purpose the cells `markdown` are used, in turn they can be designed according to all the rules of html

headers

# H1
## H2
### H3
#### H4
##### H5
###### H6

Alternatively, for H1 and H2, an underline-ish style:

Alt-H1
======

Alt-H2
 
Emphasis, aka italics, with *asterisks* or _underscores_.

Strong emphasis, aka bold, with **asterisks** or __underscores__.

Combined emphasis with **asterisks and _underscores_**.

Strikethrough uses two tildes. ~~Scratch this.~~

and color code

<div class='alert alert-danger'>
важно, тут не пропусти
</div>

<div class='alert alert-warning'>
alert-warning
</div>

<div class='alert alert-success'>
alert-success
</div>

<div class='alert alert-info'>
alert-info
</div>

more info about markdown here https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet

To make the working area of the Jupiter wider, you need to change @media in the html code, to do this you need to right-click on the crab bar and go to code review

![jupyter](./pict/rightclick.png)

In the container class, change the necessary adaptive for your screen (for example, change 1140 to 1980px)

![jupyter](./pict/mediach.png)

## material preparation

this lesson will not actually be new material, it is used as an example of data analytics

The customer is the credit department of the bank. It is necessary to find out whether the marital status and the number of children of the client affect the fact of repaying the loan on time. Input data from the bank - statistics on the solvency of customers.

- children — number of children in the family
- days_employed - total work experience in days
- dob_years - clients age in years
- education — the level of education of the client
- education_id — education level identifier
- family_status - marital status
- family_status_id - marital status identifier
- gender - gender of the client
- income_type - type of employment
- debt - whether he had debt to repay loans
- total_income - monthly income
- purpose - the purpose of obtaining a loan

library connection

In [ ]:
import pandas as pd

data loading

In [ ]:
df = pd.read_csv('./datasets/lesson5.csv')

look at the data contained in the dataframe

In [ ]:
df.sample(5)

dataframe information

In [ ]:
df.info()

In [ ]:
df['debt'].unique()

In [ ]:
df.info()

<div class='alert alert-success'>
    what conclusions can we draw at this step?
</div>

### Data preprocessing

checking for empty values

In [ ]:
df.isnull().sum()

In [ ]:
duples = sum(df.duplicated())
duples_percent = round(sum(df.duplicated() / len(df) * 100), 2)

print('duplicated:', duples)   
print('pers duplicated:', duples_percent)

add a condition to duplicates to understand how they arise

In [ ]:
df.loc[(df.duplicated()) & (df['dob_years']==60)]

<div class='alert alert-success'>
    what conclusions can we draw at this step?
</div>

****

new methods

- .abs()  -  The absolute value, or module, of a number
- .groupby()  -  grouping by
- .astype()  -  type changes
- .count()  -  number of elements
- .mean()  -  field average
- .median()  -  field median

****

In [ ]:
df[df['days_employed'] == 0]['days_employed'].count()

In [ ]:
df['days_employed'] = df['days_employed'].fillna(0)

In [ ]:
df['days_employed'] = df['days_employed'].astype('int').abs()

In [ ]:
df.groupby('dob_years')['days_employed'].median()

<div class='alert alert-success'>
    what conclusions can we draw at this step?
</div>

In [ ]:
df['years_employed'] = df['days_employed'] / 365.5

In [ ]:
df.loc[df['years_employed'] >= df['dob_years'], 'years_employed'] /= 24

In [ ]:
# does the data look correct?
df.loc[(df['years_employed'] >= df['dob_years']) & (df['dob_years']>0)].sample(5)

In [ ]:
df.drop(['days_employed'], axis=1, inplace=True)

<div class='alert alert-success'>
    what conclusions can we draw at this step?
</div>

****

new methods

- .str.lower()  -  makes the entire line lowercase
- .unique()  -  shows a unique set of data
- .nunique()  -  shows the unique count of the dataset
- .tolist()  -  creates an array from a naarray set
- .value_counts()  -  calculates the number of categorical elements, by default does not take into account empty values, for adding we use dropna=False

****

In [ ]:
df['education'].unique().tolist()

In [ ]:
df['education'] = df['education'].str.lower()

In [ ]:
df.groupby(['income_type'])['total_income'].median()

In [ ]:
df.groupby(['education'])['total_income'].median()

In [ ]:
df.groupby(['education','income_type'])['total_income'].median()

<div class='alert alert-success'>
    What conclusions can we draw at this step?
    Why are we looking at the median and not the mean?
</div>

In [ ]:
def udate_total_income():
    uni_education = df['education'].unique()
    uni_income_type = df['income_type'].unique()
    for education in uni_education:
        for income_type in uni_income_type:
            med_total_income = df[(df['education'] == education) & (df['income_type'] == income_type)]['total_income'].median()
            
            df.loc[(df['education'] == education) \
                  & (df['income_type'] == income_type) \
                  & (df['total_income'].isnull()) \
                   ,['total_income']] = med_total_income

udate_total_income()      

print(df[df['total_income']==0]['total_income'].count())

In [ ]:
print('--------------------children------------------------')
print(df['children'].value_counts(dropna=False))
print('')
print('--------------------gender------------------------')
print(df['gender'].value_counts(dropna=False))
print('')

<div class='alert alert-success'>
    What conclusions can we draw at this step?
</div>

In [ ]:
df.loc[df.children == 20, ['children']] = 2

In [ ]:
df.loc[df.children == -1, ['children']] = 0

In [ ]:
print('--------------------purpose------------------------')
print(df['purpose'].value_counts(dropna=False))
print('')

<div class='alert alert-success'>
    What conclusions can we draw at this step?
</div>

****

new methods

- collections lib (Counter class)  -Counts are allowed to be any integer value including zero or negative counts. The Counter class is similar to bags or multisets in other languages.
- .split()  -  method splits a string into a list
- .str.contains()  -  used to test if pattern or regex is contained within a string of a Series or Index
- .find()  -  used to find the index of the first occurrence of a substring from the given string
- df.loc[(~df[column].condition()) - symbol ~ means NOT for methods
- .quantile() - Return values at the given quantile over requested axis.

****

****
create new column in DataFrame

we create a function into which we will transfer the full index string from the dataframe and process it according to the necessary condition. Be careful, the data is processed line by line and for large volumes, the calculation may take a long time.



`def name_func(row):`<br>
`.    condition for row[column]`<br>
`.    return value`<br>
    
`df[new_column] = df.apply(name_func, axis=1)`

****

#### Data categorization

In [ ]:
str_purpose = ''
for i in df['purpose'].tolist():
    str_purpose += i + ' '

In [ ]:
str_list = str_purpose.split(' ')

In [ ]:
from collections import Counter

data_purpose = Counter(str_list).most_common()

In [ ]:
data_purpose[:12]

In [ ]:
print('purpose house -',df[df['purpose'].str.contains('house')]['purpose'].count())
df[df['purpose'].str.contains('house')]['purpose'].unique().tolist()

update to loop

In [ ]:
arr = ['house', 'real estate', 'car', 'wedding', 'education']
sum_purp = 0

for a in arr:
    print('purpose'+a+'-',df[df['purpose'].str.contains(a)]['purpose'].count())
    print(df[df['purpose'].str.contains(a)]['purpose'].unique().tolist())
    print('')
    print('')
    sum_purp += df[df['purpose'].str.contains(a)]['purpose'].count()

In [ ]:
sum_purp

<div class='alert alert-success'>
    What conclusions can we draw at this step?
</div>

In [ ]:
arr = ['hous', 'real estate', 'car', 'wedding', 'education']

df[(~df['purpose'].str.contains('house')) &\
   (~df['purpose'].str.contains('real estate')) &\
   (~df['purpose'].str.contains('car')) &\
   (~df['purpose'].str.contains('wedding')) &\
   (~df['purpose'].str.contains('education'))\
  ]['purpose'].unique().tolist()

In [ ]:
def ag_purpose(row):
    if str(row['purpose']).find('house')!=-1 or row['purpose']=='housing':
        return 'house'
    if str(row['purpose']).find('real estate')!=-1 or row['purpose']=='property transactions':
        return 'real estate'
    if str(row['purpose']).find('car')!=-1 or row['purpose']=='motor vehicle deal':
        return 'car'
    if str(row['purpose']).find('wedding')!=-1:
        return 'wedding'
    if str(row['purpose']).find('education')!=-1:
        return 'education'
    
    
df['ag_purpose'] = df.apply(ag_purpose, axis=1)

In [ ]:
df.head()

In [ ]:
def children_group(children):
    if children == 0:
        return 'no children'
    else:
        return 'have children'
    
def family_group(family):
    if family in ['married','civil marriage']:
        return 1
    return 0    
    
df['children_group'] = df['children'].apply(children_group)
df['family_group'] = df['family_status'].apply(family_group)

In [ ]:
df['total_income'].quantile([0.25,0.5,0.75])

In [ ]:
def income_group(total_income):
        if total_income >= 2476.87:
                return '0.75'
        if total_income >= 1793.70:
                return '0.5'           
        else:
                return '0.25'
            
df['income_group'] = df['total_income'].apply(income_group)

In [ ]:
df.head()

****

new methods

- corr() - is used to find the pairwise correlation of all columns in the Pandas Dataframe in Python. Any NaN values are automatically excluded

****

In [ ]:
# linear dependence, corr = 1

### dependence of the number of children and loan repayment

In [ ]:
print(df.groupby('children_group').agg({'debt': ['count', 'mean']}))

In [ ]:
df['debt'].corr(df['children'])

### dependence of marital status and loan repayment

In [ ]:
print(df.groupby('family_group').agg({'debt': ['count', 'mean']}))

In [ ]:
df['debt'].corr(df['family_group'])

### dependence of purpose and loan repayment

In [ ]:
print(df.groupby('ag_purpose').agg({'debt': ['count', 'mean']}))

### dependence of income and loan repayment

In [ ]:
print(df.groupby('income_group').agg({'debt': ['count', 'mean']}))

In [ ]:
df['debt'].corr(df['total_income'])